@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body {
    font-family: 'Lato', sans-serif;
}


/* Common style */
h2 {
    font-size: 2rem;
    font-weight: 700;
}
section{
    margin-top:100px;
}

/* header section*/
.proweb-bg{
    background:rgba(0, 0, 0, 0.699);
    margin-bottom: 20px;
    padding:20px;
} 
